.block-info {
    display: flex;
  flex-wrap: wrap;
}
.block-info-1{
    display: flex;
    flex-direction: row;
}
.text-about-us {
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #737373;
    padding-right: 80px;
}
.img-info {
    max-width: 300px;
    max-height: 200px;
}

